

/* colors & themes */
._bg-black {
  background-color: #000;
  color: #fff;;
}
._bg-grey {
  background-color: #242424;
  color: #fff;;
}

/* utility */
._grey-text-block {
  color: #777;
  font-size: 26px;
}

/* custom button */
._button {
  box-shadow: none;
}
._button._button-orange {
  background-color: rgb(191, 41, 15);
  color: #fff;
}
/* ._button._button-orange {
  background-color: rgb(191, 41, 15);
  color: #fff;
}
._button._button-orange {
  background-color: rgb(191, 41, 15);
  color: #fff;
} */

/* banner general classes */
._banner ._banner-content {
  margin-top: 100px;
  margin-bottom: 50px;
}

._banner-content img {
  width: 50%;
}

/* jumbotron banner */
#returnal-jumbo ._banner {
  background: url(../img/jumbo-bg.png) 50% 70%;
  background-size: cover;
}

/* jumbotron slideshow */
#returnal-slideshow ._thumb-container img {
  padding: 3px;
  border: 2px solid transparent;
  border-radius: 10px;
}

/* ps5 */
#ps5 ._blue-sub-title {
  color: lightseagreen;
}

#ps5 ._text-container {
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  #ps5 ._text-container {
    padding: 100px 0;
  }
}
@media screen and (min-width: 992px) {
  #ps5 ._text-container {
    padding: 150px 0;
  }
}

/* it takes two banner */
#itTakesTwo ._banner {
  background: url(../img/it-takes-two-hero-banner-desktop.jpg) 50% 50%;
  background-size: cover;
}



